<%- include("../../partials/header.ejs") %>

<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    :root{
        --primary: #5EAAA8;
        --secondary: #A3D2CA;
        --beige: #F7F3E9;
        --orange: #F05945;
    }
    main {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 90vw;
    }
    .edit-form{
        display: flex;
        flex-direction: column;
    }
    .edit-form label {
        color: var(--primary);
        font-size: 1.2rem;
    }
    .edit-form input {
        padding: 5px;
        margin: 0 0 10px 0;
    }
    .edit-form button {
        background-color: var(--secondary);
        color: var(--beige);
        padding: 5px 7px;
        border: 1px solid;
        border-radius: 3px;
    }
    .edit-form button:hover {
        cursor: pointer;
    }
    .delete-form{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .delete-form button {
        background-color: var(--orange);
        color: var(--beige);
        padding: 5px 7px;
        border: 1px solid;
        border-radius: 3px;
    }
    .delete-form button:hover {
        cursor: pointer;
    }
</style>

<%- include("../../partials/navbar.ejs") %>
<main>
    <form class="edit-form" method="POST" action="/boards/<%= board._id %>?_method=PUT" >
        <label for="board-name">Board name:</label>
        <input type="text" name="name" id="board-name" value="<%= board.name %>">

        <button class="edit-board___button" type="submit">edit board</button>
    </form>
    
    <form class="delete-form" method="POST" action="/boards/<%= board._id %>?_method=DELETE">
        <hr>
        <button type="submit">delete board</button>
    </form>
</main>