<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<main class="main-section___editboard">
    <form class="edit-form___editboard" method="POST" action="/boards/<%= board._id %>?_method=PUT" >
        <label for="board-name">Board name:</label>
        <input type="text" name="name" id="board-name" value="<%= board.name %>" required>

        <button class="edit-board___button" type="submit">edit board</button>
    </form>
    
    <form class="delete-form___editboard" method="POST" action="/boards/<%= board._id %>?_method=DELETE">
        <hr>
        <button type="submit">delete board</button>
    </form>
</main>