<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<body class="board-tasks___index">
    <div class="content-wrapper___index">
    <div class="title-container___index">
        <h1><%=board.name%></h1>
        <a id="edit-button___index" href="/boards/<%=board.id%>/edit">edit board name?</a>
        <a id="back-button___index" href="/boards">Back to boards?</a>
    </div>
    
    <%for(let task of tasks){%>
        <div class = "task-card___index">
            <a href="/tasks/<%=task.id%>">
            <h3><%=task.name%></h3>
            </a>
        </div>
    <%}%>
    <%- include("../../partials/error.ejs") %>
    <div class = "form-container___index">
        <form action="/tasks" method="POST">
            <h1>New Task!</h1>
            <label for="task-name">enter name</label>
            <input type="text" id="task-name" name = "name" placeholder="task name">
            <label for="task-content">task</label>
            <textarea name="content" id="task-content" cols="30" rows="10" placeholder="enter task information"></textarea>
            <label for="task-dueDate">due date</label>
            <input type="date" id="task-dueDate" name="dueDate">
            <input type="hidden" name ="board" value = "<%=board.id%>">        
            <button>submit</button>
        </form>
    </div>
</div>
</body>
