<%-include('../../partials/header.ejs')%>
<body>
    <h1>All Task!</h1>
    <%for(let task of tasks){%>
        <h3><%=task.name%></h3>
        <p><%=task.content%></p>
        <p><%=task.dueDate%></p>
        <a href="/tasks/<%=task.id%>">link to task</a>
        <p><%=task.board%></p>
        <a href="/tasks/bords/<%=task.board.id%>">link to board</a>
        <%}%>
        

    
</body>
</html>