<%-include('../../partials/header.ejs')%>
<!-- <style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    :root{
        --primary: #5EAAA8;
        --secondary: #A3D2CA;
        --beige: #F7F3E9;
        --orange: #F05945;
    }
    body{
        max-height: 90vh;
        font-size: 16px;
    }
    .task-show-container{
        display: grid;
        padding: 3vh 7vw;
        margin: 5vh 5vw;
        background-color: var(--beige);
        border-radius: 10px;
        overflow: hidden;
    }
    form *{
        padding: 1vh;
    }
    form h1{
        color:var(--primary)
    }
    label{
        font-size: 1.5rem;
        color: var(--primary);
    }
    .card-label{
        color: var(--primary)
    }
    input{
        border-radius: 5px;
    }
    textarea{
        border-radius: 5px;
    }
    select{
        border-radius: 5px;
    }
    .button-container{
        display: flex;
        justify-content: space-evenly;
    }
    button{
        margin-top: 2vh;
        border-radius: 10px;
        padding: 1vh;
        background-color: var(--orange);
        color: var(--beige);
    }
</style> -->
<%-include('../../partials/navbar.ejs')%>
<body>
    <div class = "task_screen task-card-indivual task-show-container">
        <h3 class="card-label">Task:</h3>
    <h3><%=task.name%></h3>
        <h3 class="card-label">task information:</h3>
        <p><%=task.content%></p>
        <h3 class="card-label">due date:</h3>
        <p class='dueDateValue'><%=task.dueDate.toLocaleString().split(',')[0]%></p>
        <h3 class="card-label">created date: </h3>
        <p><%=task.createdTime.toLocaleString().split(',')[0]%></p>
        <h3 class="card-label">time until due:</h3>
        <p class = "time-until-due-date">days: <%=Math.floor((task.dueDate-new Date())/(1000*60*60*24))%> hours: <%=Math.floor((task.dueDate-(new Date()/(1000*60*60)))%24)%> minutes: <%=Math.floor((task.dueDate-(new Date()/(1000*60)))%60)%></p>
        <h3 class="card-label">board:</h3>
        <p><%=task.board.name%></p>
        <div class="button-container">
        <a href="/boards/<%=task.board.id%>"><button>back to board</button></a>
        <a href="/tasks/<%=task.id%>/edit"><button>Edit</button></a>
        <form action="/tasks/<%=task.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    </div>
<script>
    const taskTimer={
        dueDate:Date.parse($('.dueDateValue').text()),
        untilDueDate:Date.parse($('.dueDateValue').text())-new Date(),
        timer:null,
        reduceTime(){
            if(taskTimer.untilDueDate<=0){
                taskTimer.untilDueDate = 0;
            }
            taskTimer.untilDueDate-=1000;
        },
        changeTimeDue(){
            $('.time-until-due-date').text(`days: ${Math.floor(taskTimer.untilDueDate/(1000*60*60*24))} hours: ${Math.floor(((taskTimer.untilDueDate/(1000))%(60*60*24))/(60*60))} minutes: ${Math.floor(((taskTimer.untilDueDate/(1000))%(60*60))/(60))}
            seconds: ${Math.floor(((taskTimer.untilDueDate/(1000))%(60)))}`)
        },
        timerHandler(){
            taskTimer.reduceTime();
            taskTimer.changeTimeDue();
        },
        startTimer(){
            taskTimer.timer = setInterval(taskTimer.timerHandler,1000)
        }

    }
    taskTimer.startTimer();
</script>
    
</body>
</html>