<%-include('../../partials/header.ejs')%>
<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    :root{
        --primary: #5EAAA8;
        --secondary: #A3D2CA;
        --beige: #F7F3E9;
        --orange: #F05945;
    }
    body{
        max-height: 90vh;
        font-size: 16px;
    }
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .task-container{
        display: grid;
        padding: 3vh 7vw;
        margin: 5vh 5vw;
        background-color: var(--beige);
        border-radius: 10px;
        overflow: hidden;
    }
    form *{
        padding: 1vh;
    }
    form h1{
        color:var(--primary)
    }
    label{
        font-size: 1.5rem;
        color: var(--primary);
    }
    .card-label{
        color: var(--primary)
    }
    input{
        border-radius: 5px;
    }
    textarea{
        border-radius: 5px;
    }
    select{
        border-radius: 5px;
    }
    .button-container{
        display: flex;
        justify-content: space-evenly;
    }
    button{
        margin-top: 2vh;
        border-radius: 10px;
        padding: 1vh;
        background-color: var(--orange);
        color: var(--beige);
    }
</style>
<%-include('../../partials/navbar.ejs')%>
<body>
    <div class = "task-container">
        <h3 class="card-label">Task:</h3>
    <h3><%=task.name%></h3>
        <h3 class="card-label">task information:</h3>
        <p><%=task.content%></p>
        <h3 class="card-label">due date:</h3>
        <p><%=task.dueDate.toLocaleString().split(',')[0]%></p>
        <h3 class="card-label">created date: </h3>
        <p><%=task.createdTime.toLocaleString().split(',')[0]%></p>
        <h3 class="card-label">board:</h3>
        <p><%=task.board.name%></p>
        <div class="button-container">
        <a href="/boards/<%=task.board.id%>"><button>back to board</button></a>
        <a href="/tasks/<%=task.id%>/edit"><button>Edit</button></a>
        <form action="/tasks/<%=task.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </div>
    </div>

    
</body>
</html>