<%-include('../../partials/header.ejs')%>
<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    :root{
        --primary: #5EAAA8;
        --secondary: #A3D2CA;
        --beige: #F7F3E9;
        --orange: #F05945;
    }
    body{
        max-height: 90vh;
        font-size: 16px;
    }
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        display: grid;
        padding: 3vh 7vw;
        margin: 5vh 5vw;
        background-color: var(--beige);
        border-radius: 10px;
        overflow: hidden;
    }
    form *{
        padding: 1vh;
    }
    form h1{
        color:var(--primary)
    }
    label{
        font-size: 1.5rem;
        color: var(--primary);
    }
    input{
        border-radius: 5px;
    }
    textarea{
        border-radius: 5px;
    }
    select{
        border-radius: 5px;
    }
    button{
        margin-top: 2vh;
        border-radius: 10px;
        background-color: var(--orange);
        color: var(--beige);
    }
</style>
<body>
    <h1>Task: <%=task.name%>!</h1>
        <h3><%=task.name%></h3>
        <p><%=task.content%></p>
        <p><%=task.dueDate%></p>
        <p>board:<%=task.board%></p>
        <a href="/boards/<%=task.board%>">back to board</a>
        <a href="/tasks/<%=task.id%>/edit">Edit</a>
        <form action="/tasks/<%=task.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>

    
</body>
</html>